body {
  font-size: 16px;
  color: #756b80; }

.section--advantages {
  background-color: #f0fdff; }
  @media screen and (max-width: 480px) {
    .section--advantages {
      background-color: #fff; } }

.visually-impaired {
  color: #fff;
  font-size: 14px; }
  @media screen and (max-width: 480px) {
    .visually-impaired {
      background-color: rgba(0, 0, 0, 0.5); } }

.contacts__slogan {
  font-size: 24px;
  color: #fff;
  font-family: Circe-Light; }
  @media screen and (max-width: 1366px) {
    .contacts__slogan {
      font-size: 16px; } }
  @media screen and (max-width: 768px) {
    .contacts__slogan {
      font-size: 14px; } }

.contacts__phone {
  color: #fff; }
  .contacts__phone span {
    color: #fff; }
    .contacts__phone span:first-child {
      font-size: 18px; }
  .contacts__phone a {
    font-size: 30px;
    font-family: Circe-Bold;
    color: #fff; }
    @media screen and (max-width: 1366px) {
      .contacts__phone a {
        font-size: 20px; } }

.contacts hr {
  border: 1px solid #fff; }

.contacts__address {
  color: #fff; }
  @media screen and (max-width: 1366px) {
    .contacts__address {
      font-size: 14px; } }
  @media screen and (max-width: 768px) {
    .contacts__address {
      font-size: 12px; } }

.contacts--color .contacts__address, .contacts--color .contacts__phone a,
.contacts--color .contacts__phone span, .contacts--color .contacts__slogan {
  color: #756b80; }

.contacts--color hr {
  border: 1px solid #756b80; }

.menu-link span {
  color: #fff;
  font-size: 18px; }

.menu-link--color span {
  color: #756b80; }

.menu-link--color .nav-icon-2 span {
  background-color: #756b80; }

.intro {
  color: #fff; }
  .intro__title {
    font-family: Circe-ExtraLight;
    font-size: 44px; }
    @media screen and (max-width: 1366px) {
      .intro__title {
        font-size: 32px; } }
    @media screen and (max-width: 768px) {
      .intro__title {
        font-size: 26px; } }
    @media screen and (max-width: 480px) {
      .intro__title {
        font-family: Circe; } }
  .intro p {
    font-size: 24px; }
    @media screen and (max-width: 1366px) {
      .intro p {
        font-size: 20px; } }
    @media screen and (max-width: 768px) {
      .intro p {
        font-size: 16px; } }
  @media screen and (max-width: 1366px) {
    .intro__list {
      font-size: 14px; } }
  @media screen and (max-width: 768px) {
    .intro__list {
      font-size: 12px; } }
  .intro__item {
    color: #03b5c2; }
    .intro__item span {
      color: #fff; }

.divide-line {
  border: 2px solid #03b5c2; }
  .divide-line--gradient {
    border: 2px solid transparent;
    border-image: linear-gradient(#03c4bd, #04a5c8);
    -moz-border-image: -moz-linear-gradient(#03c4bd, #04a5c8);
    -webkit-border-image: -webkit-linear-gradient(#03c4bd, #04a5c8); }

.btn {
  background-color: #03b5c2;
  color: #fff; }
  .btn:hover {
    background-color: #039ea9; }
  .btn--inverse {
    color: #776d82;
    background-color: #fff; }
    .btn--inverse:hover {
      background-color: #03b5c2;
      color: #fff; }
  @media screen and (max-width: 480px) {
    .btn--services {
      background-color: #f0fdff;
      color: #776d82; }
      .btn--services:hover {
        background-color: #d1f9ff; } }

.notice p {
  color: rgba(255, 255, 255, 0.25);
  font-size: 18px; }
  @media screen and (max-width: 1366px) {
    .notice p {
      font-size: 14px; } }
  @media screen and (max-width: 768px) {
    .notice p {
      font-size: 10px; } }

.scroll span {
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px; }
  @media screen and (max-width: 1366px) {
    .scroll span {
      font-size: 12px; } }
  @media screen and (max-width: 768px) {
    .scroll span {
      font-size: 10px; } }

.section-title {
  font-size: 30px; }
  @media screen and (max-width: 1366px) {
    .section-title {
      font-size: 24px; } }
  @media screen and (max-width: 1024px) {
    .section-title {
      font-size: 18px; } }

.text-block p {
  font-family: Circe-Bold; }
  @media screen and (max-width: 1366px) {
    .text-block p {
      font-size: 14px;
      font-family: Circe; } }
  @media screen and (max-width: 1024px) {
    .text-block p {
      font-size: 12px; } }

@media screen and (max-width: 480px) {
  .advantages {
    background-image: linear-gradient(#03c4bd, #04a5c8); } }

@media screen and (max-width: 480px) {
  .advantages .text-block {
    color: #fff; }
    .advantages .text-block hr {
      border: 1px solid #fff; } }

.advantages__icon {
  border-left: 2px solid transparent;
  border-image: linear-gradient(#03c4bd, #04a5c8);
  -moz-border-image: -moz-linear-gradient(#03c4bd, #04a5c8);
  -webkit-border-image: -webkit-linear-gradient(#03c4bd, #04a5c8); }

.advantages__desc {
  font-size: 18px;
  font-family: Circe-Bold; }
  @media screen and (max-width: 1366px) {
    .advantages__desc {
      font-size: 14px;
      font-family: Circe; } }
  @media screen and (max-width: 1024px) {
    .advantages__desc {
      font-size: 12px; } }

.onepage-pagination li a:before {
  border: 1px solid #03c4bd; }

.onepage-pagination li a.active:before {
  background: #03c4bd;
  border: 1px solid #03c4bd; }

.services__item {
  background-color: #f0fdff; }
  .services__item:hover .services__title {
    color: #fff; }
  .services__item:hover .divide-line--gradient {
    border-image: linear-gradient(#fff);
    -moz-border-image: -moz-linear-gradient(#fff, #fff);
    -webkit-border-image: -webkit-linear-gradient(#fff, #fff);
    border-image-slice: 1; }

.services__title {
  color: #756b80;
  font-size: 26px;
  font-family: Circe-Bold; }
  @media screen and (max-width: 1600px) {
    .services__title {
      font-size: 20px; } }
  @media screen and (max-width: 1366px) {
    .services__title {
      font-size: 16px; } }
  @media screen and (max-width: 768px) {
    .services__title {
      font-size: 14px; } }
  .services__title span {
    font-size: 20px; }
    @media screen and (max-width: 1366px) {
      .services__title span {
        font-size: 12px; } }

.specialists__item {
  color: #fff; }
  .specialists__item:last-child {
    color: #756b80; }

.specialists__more {
  font-size: 14px; }
  @media screen and (max-width: 768px) {
    .specialists__more {
      font-size: 12px; } }

.specialists__hidden-desc {
  background-color: rgba(1, 143, 167, 0.5); }

.specialists__name {
  font-size: 24px; }
  @media screen and (max-width: 1366px) {
    .specialists__name {
      font-size: 18px; } }
  @media screen and (max-width: 768px) {
    .specialists__name {
      font-size: 14px; } }

.specialists__desc {
  font-size: 11px; }

@media screen and (max-width: 1366px) {
  .reviews p {
    font-size: 14px; } }

.reviews__name p {
  font-size: 24px; }
  @media screen and (max-width: 1366px) {
    .reviews__name p {
      font-size: 18px; } }

.instagram-link {
  color: #756b80;
  font-size: 24px;
  font-family: Circe-Bold; }

.contacts-form {
  background-color: #fff; }
  .contacts-form__notice {
    font-size: 10px; }

.creator {
  font-size: 12px; }
  .creator a {
    color: #756b80; }

.footer__bottom {
  background-color: #fff; }

.footer-menu__link {
  color: #776d82; }

.menu__link {
  color: #756b80;
  font-size: 50px; }
  @media screen and (max-width: 1366px) {
    .menu__link {
      font-size: 26px; } }
