//resolutions
$laptop: 1366px;
$tablets: 1024px;
$min-tablets: 768px;
$phones: 480px;
//config
@mixin laptop {
    @media screen and (max-width: $laptop) {
        @content;
    }
}
@mixin tablets {
    @media screen and (max-width: $tablets) {
        @content;
    }
}
@mixin min-tablets {
    @media screen and (max-width: $min-tablets) {
        @content;
    }
}
@mixin phones {
    @media screen and (max-width: $phones) {
        @content;
    }
}
body {
    font-size: 16px;
    color: #756b80;
}
.section {
    &--advantages {
        background-color: #f0fdff;
        @include phones {
            background-color: #fff;
        }
    }
}
.visually-impaired {
    color: #fff;
    font-size: 14px;
    @include phones {
        background-color: rgba(0,0,0,0.5);
    }
    &--color {
        color: #776d82;
    }
    &--mobile {
        @include phones {
            color: #fff;
            background-color: #03c5bd;
        }
    }
}
.contacts {
    &__slogan {
        font-size: 24px;
        color: #fff;
        @include laptop {
            font-size: 16px;
        }
        @include min-tablets {
            font-size: 14px;
        }
    }
    &__phone {
        color: #fff;
        span {
            color: #fff;
            &:first-child {
                font-size: 24px;
                @include laptop {
                    font-size: 18px;
                }
                @include phones {
                    font-size: 12px;
                }
            }
        }
        a {
            font-size: 30px;
            font-family: Circe-Bold;
            color: #fff;
            @include laptop {
                font-size: 20px;
            }
            @include phones {
                font-size: 14px;
            }
        }
    }
    hr {
        border: 1px solid #fff;
    }
    &__address {
        color: #fff;
        @include laptop {
            font-size: 14px;
        }
        @include min-tablets {
            font-size: 12px;
        }
    }
    &--color {
        .contacts__address, .contacts__phone a,
        .contacts__phone span,.contacts__slogan {
            color: #756b80;
        }
        hr {
            border: 1px solid #756b80;
        }
    }
}
.menu-link {
    span {
        color: #fff;
        font-size: 18px;
    }
    &--color {
        span {
            color: #756b80;
        }
        .nav-icon-2 span{
            background-color:#756b80;
        }
    }
}
.right-block {
    .btn-consultation {
        @include phones {
            background-color: #03c5bd;
            color: #fff;
            border: none;
            font-size: 16px;
        }
    }
}
.back-to {
    span {
        font-size: 16px;
        color: #776d82;
    }
}
.intro {
    color: #fff;
    &__title {
        font-family: Circe-Bold;
        font-size: 44px;
        @include laptop {
            font-size: 32px;
        }
        @include min-tablets {
            font-size: 26px;
        }
        @include phones {
            font-family: Circe;
        }
    }
    &__addition {
        @include phones {
            font-size: 18px;
        }
    }
    p {
        font-size: 24px;
        @include laptop {
            font-size: 20px;
        }
        @include min-tablets {
            font-size: 16px;
        }
    }
    &__list {
        @include laptop {
            font-size: 14px;
        }
        @include min-tablets {
            font-size: 12px;
        }
    }
    &__item {
        color: #03b5c2;
        span {
            color: #fff;
        }
    }
}
.divide-line {
    border: 2px solid #03b5c2;
    &--gradient {
        border: 2px solid transparent;
        border-image: linear-gradient(#03c4bd , #04a5c8);
        -moz-border-image: -moz-linear-gradient(#03c4bd , #04a5c8);
        -webkit-border-image: -webkit-linear-gradient(#03c4bd , #04a5c8);
    }
}
.btn {
    background-color: #03b5c2;
    color: #fff;
    &:hover {
        background-color: darken(#03b5c2, 5);
    }
    &--inverse {
        color: #776d82;
        background-color: #fff;
        &:hover {
            background-color: #03b5c2;
            color: #fff;
        }
    }
    &--inverse-border {
        border: 2px solid #776d82;
        &:hover {
            background-color: #776d82;
        }
    }
    &--services {
        @include phones {
            background-color: #f0fdff;
            color: #776d82;
            &:hover {
                background-color: darken(#f0fdff, 6);
            }
        }
    }
    &--light {
        background-color: #f0fdff;
        color: #776d82;
        &:hover {
            color: #fff;
            background-color: #04a5c8;
        }
    }
}
.notice {
    p {
        color: rgba(255,255,255,0.25);
        font-size: 18px;
        @include laptop {
            font-size: 14px;
        }
        @include min-tablets {
            font-size: 10px;
        }
    }
}
.scroll {
    span {
        color: rgba(255,255,255,0.5);
        font-size: 14px;
        @include laptop {
            font-size: 12px;
        }
        @include min-tablets {
            font-size: 10px;
        }
    }
}
.section-title {
    font-size: 30px;
    @include laptop {
        font-size: 24px;
    }
    @include tablets {
        font-size: 18px;
    }
}
.text-block {
    p {
        font-family: Circe-Bold;
        @include laptop {
            font-size: 14px;
            font-family: Circe;
        }
        @include tablets {
            font-size: 12px;
        }
    }
}
.advantages {
    @include phones {
        background-color: #f0fdff;
    }
    &__icon {
        border-left: 2px solid transparent;
        border-image: linear-gradient(#03c4bd , #04a5c8);
        -moz-border-image: -moz-linear-gradient(#03c4bd , #04a5c8);
        -webkit-border-image: -webkit-linear-gradient(#03c4bd , #04a5c8);
    }
    &__desc {
        font-size: 18px;
        font-family: Circe-Bold;
        @include laptop {
            font-size: 14px;
            font-family: Circe;
        }
        @include tablets {
            font-size: 12px;
        }
    }
}
.onepage-pagination li a:before {
    border: 1px solid #03c4bd;
}
.onepage-pagination li a.active:before {
    background: #03c4bd;
    border: 1px solid #03c4bd;
}
.services {
    &__item {
        background-color: #f0fdff;
        &:hover {
            .services__title {
                color: #fff;
            }
            .divide-line--gradient {
                border-image: linear-gradient(#fff);
                -moz-border-image: -moz-linear-gradient(#fff , #fff);
                -webkit-border-image: -webkit-linear-gradient(#fff , #fff);
                border-image-slice: 1;
            }
        }
    }
    &__title {
        color: #756b80;
        font-size: 26px;
        font-family: Circe-Bold;
        @media screen and (max-width: 1600px) {

            font-size: 20px;
        }
        @include laptop {
            font-size: 16px;
        }
        @include min-tablets {
            font-size: 14px;
        }
        span {
            font-size: 20px;
            @include laptop {
                font-size: 12px;
            }
        }
    }
}
.specialists {
    &__item {
        color: #fff;
    }
    &__more {
        font-size: 14px;
        @include min-tablets {
            font-size: 12px;
        }
    }
    &__hidden-desc {
        background-color: rgba(1,143,167,0.5);
    }
    &__name {
        font-size: 24px;
        @include laptop {
            font-size: 18px;
        }
        @include min-tablets {
            font-size: 14px;
        }
    }
    &__desc {
        font-size: 11px;
    }
}
.reviews {
    p {
        @include laptop {
            font-size: 14px;
        }
    }
    &__name {
        p {
            font-size: 24px;
            @include laptop {
                font-size: 18px;
            }
        }
    }
}
.instagram-link {
    color: #756b80;
    font-size: 24px;
    font-family: Circe-Bold;
}
.contacts-form {
    background-color: #fff;
    &__notice {
        font-size: 10px;
    }
    .rotate {
        font-size: 24px !important;
        @include laptop {
            font-size: 16px !important;
        }
    }
}
.creator {
    font-size: 12px;
    a {
        color: #756b80;
    }
}
.footer {
    &--main-page {
        .footer-menu {
            &__link {
                color: #776d82;
            }
        }
    }
    &__bottom {
        background-color: #fff;
    }
}
.modal-window {
    @include phones {
        background: rgba(0,0,0,0.95);
    }
    &__addition {
        @include phones {
            color: #fff;
            font-size: 14px;
            a {
                color: #fff;
            }
        }
    }
}
.modal-menu {
    &__link {
        color: #756b80;
        font-size: 50px;
        @include laptop {
            font-size: 26px;
        }
        @include phones {
            color: #fff;
        }
    }
    .contacts__slogan, .contacts__phone span, .contacts__phone a {
        @include phones {
            color: #fff;
        }
    }
    .contacts__slogan {
        font-size: 16px;
    }
    .contacts__phone span {
        font-size: 24px;
        @include laptop {
            font-size: 18px;
        }
        @include phones {
            font-size: 16px;
        }
    }
    .contacts__address {
        @include phones {
            color: #fff;
            font-size: 16px;
        }
    }
}

//Страница "Врачи"
.header {
    &--inside-page {
        background-color: #f0fdff;
        &.white {
            background-color: transparent;
            @include phones {
                background-color: #f0fdff;
            }
            .menu__link, .visually-impaired, .cookies__link {
                color: #fff;
            }
            .contacts__address, .contacts__phone span, .contacts__phone a {
                @include phones {
                    color: #776d82;
                }
            }
            .btn-consultation {
                color: #fff;
                border: 2px solid #fff;
                &:hover {
                    background-color: #03c5bd;
                }
                @include phones {
                    border: none;
                }
            }
            .divide-line {
                border: 2px solid #fff;
            }
            
        }
    }
    &__top {
        .contacts {
            &__phone {
                a {
                    font-size: 18px;
                }
            }
            &__slogan {
                font-size: 14px;
            }
        }
    }
}
.menu {
    &__item {
        border-right: 2px solid #756b80;
    }
    &__link {
        color: #756b80;
        font-size: 18px;
        @include laptop {
            font-size: 15px;
        }
        &:after {
            background-color: #756b80;
        }
    }
    &.active {
        font-family: Circe-Bold;
    }
    &--white {
        .menu__item {
            border-right: 2px solid #fff;
        }
    }
}
.btn-consultation {
    color: #756b80;
    border: 2px solid #756b80;
    font-size: 14px;
    &:hover {
        background-color: #756b80;
        color: #fff;
    }
}
.cookies {
    &__link {
        font-size: 14px;
        color: #756b80;
        &:last-child {
            font-family: Circe-Bold;
        }
    }
    &--transparent {
        .cookies__link {
            color: #fff;
        }
    }
}
.page-title {
    font-size: 40px;
    @include laptop {
        font-size: 34px;
    }
    @include phones {
        font-size: 20px;
    }
}
.team {
    &__name {
        font-size: 36px;
        font-family: Circe-Bold;
        span {
            color: #03c5bd;
        }
        @include phones {
            font-size: 18px;
        }
    }
    &__desc {
        font-size: 14px;
    }
    &__more {
        font-size: 14px;
        color: #756b80;
    }
}
.btn-order {
    background-color: #f0fdff;
    font-size: 18px;
    color: #756b80;
    &:hover {
        background-color: #03c5bd;
        color: #fff;
    }
    @include phones {
        background-color: #03c5bd;
        color: #fff;
        &:hover {
            background-color: darken(#03c5bd, 5);
        }
    }
}
.form-registration {
    background-color: #f0fdff;
    @include phones {
        background-color: #fff;
    }
    &__agreement {
        font-size: 14px;
        a {
            font-family: Circe-Bold;
            color: #756b80;
        }
    }
    &__fields {
        input {
            @include phones {
                background-color: #f0fdff;
            }
        }
    }
    &--color {
        background-color: #f0fdff;
        .form-registration__fields {
            input {
                @include phones {
                    background-color: #fff;
                }
            }
        }
    }
}
input {
    color: #756b80;
    font-family: Circe;
}
:focus::-webkit-input-placeholder {
    color: transparent;
}

:focus::-moz-placeholder {
    color: transparent;
}

:focus:-moz-placeholder {
    color: transparent;
}

:focus:-ms-input-placeholder {
    color: transparent;
}
.footer {
    color: #fff;
    background-image: linear-gradient(to right,  rgba(2,180,189,1), rgba(3,188,189,1),
    rgba(3,191,189,1),rgba(3,189,189,1));
    &__block {
        &:last-child {
            font-size: 13px;
            a {
                color: #fff;
            }
        }
    }
    &__title {
        font-size: 22px;
        @include laptop {
            font-size: 18px;
        }
    }
}
.footer-menu {
    &__link {
        color: #fff;
        font-size: 18px;
    }
}
.socials {
    p {
        font-size: 14px;
    }
}

//Страница "Статьи"
.article-types {
    &__link {
        background-color: #f0fdff;
        color: #756b80;
        &.active, &:hover {
            background-color: #03c5bd;
            color: #fff;
        }
    }
}
.article {
    &__item {
        color: #756b80;
    }
}

//Страница "Услуги"
.service {
    &__name {
        border-left: 2px solid #03c5bd;
    }
    &__link {
        color: #756b80;
    }
}
.information {
    background-color: #f0fdff;
    p span {
        font-family: Circe-Bold;
    }
}

//Страница "Стоимость"
.prices {
    &--color {
        background-color: #f0fdff;
    }
    &__name {
        border-left: 2px solid #03c5bd;
        h2 {
            @include min-tablets {
                font-size: 18px;
            }
            @include phones {
                font-size: 16px;
            }
        }
    }
    &__inside-item {
        border-bottom: 2px solid #d3eaee;
        span {
            @include phones {
                font-size: 14px;
            }
        }
        a {
            @include phones {
                color: #776d82;
            }
        }
    }
}

//Страница "Контакты"
.contacts-information {
    background-color: #f0fdff;
    &__left {
        font-size: 18px;
        @include phones {
            font-size: 14px;
        }
        p {
            span {
                font-family: Circe-Bold;
            }
            a {
                text-decoration: none;
                color: #756b80;
            }
        }
    }
    &__title {
        font-family: Circe-Bold;
        span {
            font-family: Circe;
        }
    }
}
.form-registration {
    &--inverse {
        background-color: #fff;
        input {
            background-color: #f0fdff;
        }
        textarea {
            background-color: #f0fdff;
            font-family: Circe;
            color: #756b80;
        }
    }
}

//Страница "Статьи подробно"
.article-intro {
    &__text {
        @include min-tablets {
            background-color: #f0fdff;
        }
    }
    &__title {
        color: #fff;
        font-size: 48px;
        @include tablets {
            font-size: 36px;
        }
        @include min-tablets {
            color: #756b80;
        }
        @include phones {
            font-size: 24px;
        }
    }
    &__desc {
        font-size: 24px;
        color: #fff;
    }
}
.article-more {
    p {
        font-size: 14px;
    }
    &__title {
        @include phones {
            font-size: 20px;
        }
    }
}
.share {
    background-color: #f0fdff;
    &--transparent {
        background-color: transparent;
    }
    &__title {
        font-size: 30px;
        @include phones {
            font-size: 20px;
        }
    }
}
.subtitle {
    font-size: 30px;
    @include phones {
        font-size: 24px;
    }
}

//Страница "Услуги подробно"
.services-more {
    &__right {
        .prices {
            &__name {
                h2 {
                    font-size: 18px;
                }
            }
            &__inside-link {
                color: #756b80;
                &.active {
                    font-family: Circe-Bold;
                }
            }
        }
    }
    &__title {
        @include phones {
            background-color: #f0fdff;
        }
        span {
            font-size: 36px;
            @include phones {
                font-size: 20px;
            }
        }
    }
    P {
        span {
            font-family: Circe-Bold;
        }
    }
}

//Страница "Врачи подробно"
.specialist {
    .specialists {
        &__more {
            color: #fff;
        }
    }
}
.requirements {
    background-color: #f0fdff;
    &__item {
        font-size: 14px;
    }
}
.specialist-info {
    &.white {
        color: #fff;
        @include phones {
            color: #776d82;
        }
        .divide-line {
            border: 2px solid #fff;
            @include phones {
                border: 2px solid #03c4bd;
            }
        }
    }
    &__name {
        font-size: 44px;
        text-shadow: 1px 1px 1px #000;
        @media screen and (max-width: 600px) {
            font-size: 35px;
        }
        @include phones {
            text-shadow: none;
            font-size: 24px;
            span {
                color: #03c5bd;
            }
        }
    }
    &__title {
        font-size: 24px;
        @include phones {
            font-size: 18px;
        }
    }
    &__profile {
        span {
            a {
                color: #756b80;
                font-family: Circe-Bold;
            }
        }
    }
}
//Страница Гарантии
.documents {
    &__title {
        font-size: 24px;
        @include min-tablets {
            font-size: 18px;
        }
        @include phones {
            font-size: 14px;
        }
    }
    &__links {
        a {
            @include phones {
                font-size: 11px;
            }
        }
    }
}